.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #212121;
    padding: 15px;
    margin: 20px;
    width: min(60%,500px);
    background: #FFFFFF;
    border-radius: 50px;
}
.formulario form p label{
    font-size: 18px;
    padding: 10px;
}
.helptext{
    font-size: 13px;
}
.formulario h2{
    font-size: 18px;
    text-align: center;
}
.formulario p{
    font-size: 16px;
}