{% extends "base.html" %}

{% block title %}Modificar trabajo{% endblock %}

{% block nuevo %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
{% endblock %}

{% block content %}
<div class="container" style="width: 400px;">
    <h2 class="text-center">Modificacion de trabajo</h2>
    <a href="{% url 'listar_usuarios'%}" class="btn square-btn-adjust"> Retroceder</a>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button id="funcionamiento" type="submit">Cambiar</button>
    </form>
</div>
{% endblock %}