{% extends "base.html" %}

{% block title %}Reportes{% endblock %}

{% block nuevo %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/filter.css' %}">
{% endblock %}

{% block content %} 
<div id="trabajos" class="col-md-12 col-sm-12 col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Generar reporte</h3>
        </div>
        <div>
             <ul>
                 {% for obra in obras %}
                 <li>
                     {{ obra.NomObra }}
                     <button 
                         id="mostrar-unidades"
                         class="btn btn-secondary"
                         data-obra-id="{{ obra.CodObra }}"
                     >
                         Mostrar Unidades
                     </button>
                     <ul id="unidades-{{ obra.id }}" class="unidades-list" style="display: none;">
                         <!-- Las unidades se llenarán aquí -->
                     </ul>
                 </li>
                 {% endfor %}
             </ul>
        </div>
        <div>
            <form method="POST">
                {% csrf_token %}
                <div>
                    <label for="contratista">Contratista</label>
                    <select name="contratista" class="form-control" required>
                        <option value='null'>Seleccione un contratista</option>
                        {% for contratista in contratistas %}
                        <option value="{{ contratista }}">{{ contratista }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label for="obra">Obra</label>
                    <select name="obra" class="form-control" required>
                        <option value='null'>Seleccione una obra</option>
                        {% for obra in obras %}
                        {% if obra.NomCon %}
                        <option value="{{ obra.CodObra }}">{{ obra.NomObra }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="fecha_inicio">Fecha de inicio</label>
                    <input type="date" name="fecha_inicio" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="fecha_fin">Fecha de fin</label>
                    <input type="date" name="fecha_fin" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary">Generar reporte</button>
            </form>
        </div>


        <div class="panel-body">
            <div class="table-responsive">
                <button onclick="alternarFiltro()">Filtros</button>
                <div class="filter-container" style="display: none">
                    <!--on key up prop (js manage)-->
                    <input type="text" placeholder="Ingrese nombre...">
        
                    <button>Reestablecer filtros</button>
                </div>
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Nombre de obra</th>
                            <th>Nombre de contratista</th>
                            <th>Tipo de maquina</th>
                            <th>Actividad Realizada</th>
                            <th>Horas trabajadas</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for obra in obras %}
                        <tr>
                            <th>{{ obra.NomObra }}</th>
                            <th>{{ obra.NomCon }}</th>
                            <th>{{ obra.NomObra }}</th>
                            <th>{{ obra.NomObra }}</th>
                            <th>{{ obra.NomObra }}</th>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    function alternarFiltro() {
        const filter = document.getElementsByClassName("filter-container")[0]
        filter.style.display = (filter.style.display === "none") ? "block" : "none"
    }
    document.getElementById("mostrar-unidades").addEventListener("click", function() {
        const obraId = this.getAttribute("data-obra-id")
        const unidades = document.getElementById("unidades-{{ obra.id }}")
        if(unidades.style.display === "block") {
            unidades.style.display = "none"
        } else {
            fetch(`/unidades_por_obra/${obraId}/`)
                .then(response => response.json())
                .then(data => {
                    unidades.innerHTML = data.map(unidad => `<li>${unidad.nombre} (${unidad.id})</li>`).join("")
                    unidades.style.display = "block"
                })
                .catch(error => console.error(error))
        }
    })
</script>
{% endblock %}