{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{% static 'img/icono.ico' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'img/icono.ico' %}" type="image/x-icon">
    <title>{% block title %}Kallpa{% endblock %}</title>
    <!-- estilos para el programa-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}">
    <!-- Scripts -->
    <script src="{% static 'js/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.metisMenu.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    {% block nuevo %}{% endblock %}
</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'index'%}">Kallpa Comaser</a>
            </div>
            <div style="color: white; padding: 15px 50px 5px 50px; float: right; font-size: 16px;">
                <!-- Botones superior-->
                {% if user.is_authenticated %}
                <a href="{% url 'logout'%}" class="btn btn-danger square-btn-adjust">Cerrar sesion</a>
                {% else %}
                <a href="{% url 'login'%}" class="btn btn-danger square-btn-adjust">Iniciar sesion</a>
                {% endif %}
            </div>
        </nav>
        <!-- Navegador izquierdo -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <!-- Botones lado izquierdo-->
                <ul class="nav" id="main-menu">
                    {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'index'%}"><i class="fa fa-user fa-3x"></i> Perfil de {{ user.username }}</a>
                        <!-- Modo rojo-->
                        <!--<a class="active-menu" href="index.html"><i class="fa fa-dashboard fa-3x"></i> Dashboard</a>-->
                    </li>
                    <li>
                        <a href="{% url 'listar_registros'%}"><i class="fa fa-edit fa-3x"></i> Registro de actividades
                        </a>
                    </li>
                    {% if user.is_superuser or user.is_staff %}
                    <li>
                        <a href="{% url 'listar_usuarios'%}"><i class="fa fa-users fa-3x"></i> Registro de operarios</a>
                    </li>
                    <li>
                        <a href="{% url 'listar_obras'%}"><i class="fa fa-desktop fa-3x"></i>Registro de obras </a>
                    </li>
                    <li>
                        <a href="{% url 'listar_unidades'%}"><i class="fa fa-truck fa-3x"></i>Registro de unidades </a>
                    </li>
                    <li>
                        <a href="{% url 'calculo_horas'%}"><i class="fa fa-qrcode fa-3x"></i> Cálculo de horas
                            trabajadas</a>
                    </li>
                    <li>
                        <a href="{% url 'reportes_detallados' %}"><i class="fa fa-bar-chart-o fa-3x"></i> Generación de
                            reportes</a>
                    </li>
                    {% endif %}
                    {% endif %}
                </ul>
            </div>
        </nav>
        <!-- div cuerpo -->
        <div id="page-wrapper">
            {% if messages %}
            {% for message in messages %}
            {% if message.tags == "error" %}
            <div class="alert alert-danger" onclick="this.classList.add('hidden')">
                {% else %}
                <div class="alert alert-{{ message.tags }}" onclick="this.classList.add('hidden')">
                    {% endif %}
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                <!-- cuerpo inicio-->
                <div id="page-inner">
                    {% block content %}{% endblock %}
                </div>
                <!-- cuerpo fin-->
            </div>
        </div>
</body>

</html>