{% extends "base.html" %}

{% block title %}Nuevo usuario{% endblock %}

{% block nuevo %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
{% endblock %}

{% block content %}
<div class="container" style="width: 400px;">
    <h2 class="text-center">Crear usuario</h2>
    <p style="font-size: 14px;"><i style="color: green;" class="fa fa-info-circle fa-1x"></i>Se creara un usuario disponible y la contraseña sera el primer nombre junto a el primer apellido</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button id="funcionamiento" type="submit">Crear</button>
    </form>
</div>
{% endblock %}