<!-- perfil.html-->
{% extends "base.html" %}

{% block title %}Perfil {{ user.username }}{% endblock %}

{% block content %}
<div class="formulario" id="informacion">
    <h2>Perfil de Usuario <button onclick="cambiarmodo()">&#9998;</button></h2>
    <p>Nombre de usuario: {{ user.username }}</p>
    <p>Correo electrónico: {{ user.email }}</p>
    <p>Nombre: {{ user.first_name }}</p>
    <p>Apellidos: {{ user.last_name }}</p>
</div>
<div class="formulario" id="editar">
    <h2>Perfil de Usuario <button onclick="cambiarmodo()">&#128065;</button></h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar Cambios</button>
    </form>
</div>
<script>
    let informacion = document.getElementById("informacion");
    let editar = document.getElementById("editar");
    editar.style.display = "none";
    function cambiarmodo(){
        //desactivar modo edicion
        if (informacion.style.display === "none"){
            informacion.style.display = "block";
            editar.style.display = "none";
        }//activar modo edicion
        else{
            informacion.style.display = "none";
            editar.style.display = "block";
        }
    }
</script>
{% endblock %}